{% comment %}
    Renders a collection card

    Accepts:
    - card_collection: {Object} Collection Liquid object
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - columns: {Number} 
    - extend_height: {Boolean} Card height extends to available container space. Default: false (optional)
    
    Usage:
    {% render 'card-collection' %}
{% endcomment %}

{%- liquid
  assign ratio = 1
  if collection_image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif collection_image and media_aspect_ratio == 'adapt'
    assign ratio = collection_image.aspect_ratio
  endif
  if ratio == 0 or ratio == nil
    assign ratio = 1
  endif
-%}

{% assign collection_image = collection_image | default: card_collection.featured_image %}

<div class="card-wrapper animate-arrow">
  <div class="card
    card--{{ settings.card_style }}
    {% if collection_image %} card--media{% else %} card--text{% endif %}
    {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
    {% if extend_height %} card--extend-height{% endif %}
    {% if collection_image == nil and settings.card_style == 'card' %} ratio{% endif %}"
    style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
  >
    <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if collection_image or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
      {%- if collection_image -%}
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              srcset="{%- if collection_image.width >= 165 -%}{{ collection_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if collection_image.width >= 330 -%}{{ collection_image | image_url: width: 330 }} 330w,{%- endif -%}
                {%- if collection_image.width >= 535 -%}{{ collection_image | image_url: width: 535 }} 535w,{%- endif -%}
                {%- if collection_image.width >= 750 -%}{{ collection_image | image_url: width: 750 }} 750w,{%- endif -%}
                {%- if collection_image.width >= 1000 -%}{{ collection_image | image_url: width: 1000 }} 1000w,{%- endif -%}
                {%- if collection_image.width >= 1500 -%}{{ collection_image | image_url: width: 1500 }} 1500w,{%- endif -%}
                {%- if collection_image.width >= 3000 -%}{{ collection_image | image_url: width: 3000 }} 3000w,{%- endif -%}
                {{ collection_image | image_url }} {{ collection_image.width }}w"
              src="{{ collection_image | image_url: width: 1500 }}"
              sizes="
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
              (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
              calc(100vw - 3rem)"
              alt="{{ card_collection.title | escape }}"
              height="{{ collection_image.height }}"
              width="{{ collection_image.width }}"
              loading="lazy"
              class="motion-reduce"
            >
          </div>
          {%comment%}Start of section for the image tooltips{%endcomment%}
          {% if meganav_tooltip_show == true %}
            {% if meganav_tooltip_is_product == true %}
            {% assign tooltip_item = tooltip_product %}
            {% assign tooltip_title = tooltip_item.vendor | append: ' ' | append: tooltip_item.title %}
            {% assign tooltip_link = tooltip_item.url | default: tooltip_link %}
            <a href="{{tooltip_link}}" class="meganav__hotspot-tooltip {{tooltip_position}}">
              {% render 'icon-hotspot-plus' %}
              <span class="meganav__hotspot-tooltiptext">
                {{ tooltip_title | truncate: 50 }}<strong>{{ tooltip_item.price | money }}</strong>{% render 'icon-hotspot-forward' %}
              </span>
            </a>
          {% else %}
            <a class="meganav__hotspot-tooltip {{tooltip_position}}" href="{{tooltip_link}}">
              {% render 'icon-hotspot-plus' %}
              <span class="meganav__hotspot-tooltiptext">
                {{ tooltip_title }}{% render 'icon-hotspot-forward' %}
              </span>
            </a>
            {% endif %}
          {% endif %}
          {%comment%}End of section for the image tooltips{%endcomment%}
        </div>
      {%- endif -%}
      {% if show_content %}
        <div class="card__content">        
          <div class="card__information">
            <h3 class="card__heading">
              <a{% if card_collection == blank %} role="link" aria-disabled="true"{% else %} href="{{ card_collection.url }}"{% endif %} class="full-unstyled-link center">
                {%- if card_collection.title != blank -%}
                  {{- card_collection.title | escape -}}
                {%- else -%}
                  {{ 'onboarding.collection_title' | t }}
                {%- endif -%}
                {%- if card_collection.description == blank -%}{% endif %}
              </a>
            </h3>
            {%- if card_collection.description != blank -%}
              <p class="card__caption">
                {{- card_collection.description | strip_html | truncatewords: 12 -}}
              </p>
            {%- endif -%}
          </div>   
        </div>
      {% endif %}
    </div>
    {% if show_content %}
      {% if settings.card_style == 'card' or collection_image %} 
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a href="{{ card_collection.url }}" class="full-unstyled-link center">
                {%- if card_collection.title != blank -%}
                  {{- card_collection.title | escape -}}
                {%- else -%}
                  {{ 'onboarding.collection_title' | t }}
                {%- endif -%}
                {%- if collection_image or card_collection.description == blank -%}{% endif %}
              </a>
            </h3>
            {%- if collection_image == nil and card_collection.description != blank -%}
              <p class="card__caption">
                {{- card_collection.description | strip_html | truncatewords: 12 -}}
              </p>
            {%- endif -%}
          </div>
        </div>
      {% endif %} 
    {% endif %}
  </div>
</div>
