<div class="grid product-upsell-item grid--2-col" id="upsell-product__item--{{product.id}}">
  <div class="grid__item">
    {%- assign media = product.featured_media -%}
    <div class="product__media media" style="padding-top: {{ 1 | divided_by: media.preview_image.aspect_ratio | times: 100 }}%;">
      <img
        srcset="{% if media.preview_image.width >= 493 %}{{ media.preview_image | image_url: width: 493 }} 493w,{% endif %}
          {% if media.preview_image.width >= 600 %}{{ media.preview_image | image_url: width: 600 }} 600w,{% endif %}
          {% if media.preview_image.width >= 713 %}{{ media.preview_image | image_url: width: 713 }} 713w,{% endif %}
          {% if media.preview_image.width >= 823 %}{{ media.preview_image | image_url: width: 823 }} 823w,{% endif %}
          {% if media.preview_image.width >= 990 %}{{ media.preview_image | image_url: width: 990 }} 990w,{% endif %}
          {% if media.preview_image.width >= 1100 %}{{ media.preview_image | image_url: width: 1100 }} 1100w,{% endif %}
          {% if media.preview_image.width >= 1206 %}{{ media.preview_image | image_url: width: 1206 }} 1206w,{% endif %}
          {% if media.preview_image.width >= 1346 %}{{ media.preview_image | image_url: width: 1346 }} 1346w,{% endif %}
          {% if media.preview_image.width >= 1426 %}{{ media.preview_image | image_url: width: 1426 }} 1426w,{% endif %}
          {% if media.preview_image.width >= 1646 %}{{ media.preview_image | image_url: width: 1646 }} 1646w,{% endif %}
          {% if media.preview_image.width >= 1946 %}{{ media.preview_image | image_url: width: 1946 }} 1946w,{% endif %}
          {{ media.preview_image | image_url }} {{ media.preview_image.width }}w"
        src="{{ media | image_url: width: 1946 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | round }}px, (min-width: 990px) calc({{ media_width | times: 100 }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
        {% unless lazy_load == false %}loading="lazy"{% endunless %}
        width="973"
        height="{{ 973 | divided_by: media.preview_image.aspect_ratio | ceil }}"
        alt="{{ media.preview_image.alt | escape }}"
      >
    </div>
  </div>
  <div class="grid__item">
    {%- assign upsell_product_formid = 'upsell-product--form-' | append: {{product.id}} -%}
    <product-form>
      {%- form 'product', product, id: upsell_product_formid, class: 'upsell-product-form' -%}
        <div class="product__info">
          <h3 class="product__title">{{product.title | upcase }}</h3>
          <div class="product__price--wrapper">
            {%- assign variant = product.first_available_variant -%}
            <span class="price-item {% if variant.compare_at_price > variant.price %}price-item--sale{% endif%}">{{variant.price | money}}</span>
            {% if variant.compare_at_price > variant.price %}
              <span class="price-item price-item--compare">RRP <s>{{variant.compare_at_price | money }}</s></span>
            {% endif %}
          </div>
          
          <upsell-variant-selector data-product-form-id="{{upsell_product_formid}}">
            {% render 'product-variant', upsellProduct: product, upsell: true, product_form_id: upsell_product_formid %}
            {%- comment -%}
            <div class="single-option-selector select">
              <select name="id" id="upsell__variant--selector--{{product.id}}" class="select__select">
                <option value="" disabled selected>Select Option</option>
                {% for variant in product.variants %}
                <option value="{{variant.id}}">{{variant.title}}-{% if variant.available %}-In Stock{% else %}-Out of Stock{% endif %}</option>
                {% endfor %}
              </select>
              {% render 'icon-caret' %}
            </div>
            {%- endcomment -%}  
            <script type="application/json" id="upsell-product-data">{{- product | json-}}</script>
          </upsell-variant-selector>
          <div class="product-form__error-message-wrapper" role="alert" hidden>
            <span class="product-form__error-message"></span>
          </div>
          <div class="product-form__buttons">
            <button type="submit" class="product-form__submit button button--primary button--full-width" name="add">
              <span class="add-to-cart-text">{{ 'products.product.add_to_cart' | t | upcase}}</span>
              <div class="loading-overlay__spinner hidden">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </button>
          </div>
        </div>
      {%- endform -%}
    </product-form>
  </div>
</div>